body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    }

.logo {
    display: flex;
    align-items: center;

}

.logo img {
height: 100px;
width: 100px;
margin-right: 10px;
border-radius: 50%;
margin-right: 10px;
object-fit: cover;
}
.png-image {
    height: 80px;
    width: auto;
    margin-right: -250px; 
}
.container {
	position: absolute;
	right: 30%;
	bottom: 82%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #D50000;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: #D50000;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container:hover input {
	width: 350px;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #cc0000;
}

.register-container {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-left: auto;
}
.register-btn {
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.iniciar-sesion {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 58px;
    
}
.iniciar-btn {
    border: 2px solid #ff0101;
    background-color: transparent;
    color: #ff0000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    justify-content: center; 
    background-color: #ff0101;
    margin-top: -18px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 30px; 
}

.dropbtn {
    font-size: 30px;  
    border: 20px solid rgb(255, 0, 0);
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chat-toggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

#chat-box {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around; 
}

.mouse img {
    height: 75px;
}

.teclado img {
    height: 75px;
}

.memoria img {
    height: 75px;
}

.video img {
    height: 75px;
}

.disco img {
    height: 75px;
}

.monitor img {
    height: 75px;
}

.centrado {
    text-align: center;
}

.centrado {
    text-align: center;
}

h2 {
    text-align: center; 
    padding-bottom: 30px;
    font-family: sans-serif;
    font-size: x-large;
}
